@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: hsl(30, 38%, 92%);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 600px;
    height: 450px;
}
.content img{
    width: 50%;
    height: auto;
    display: block;
}
.content .right-content{
    padding: 30px;
    width: 50%;
}
.right-content h4{
    color: hsl(228, 12%, 48%);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 500;
}
.right-content h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.right-content p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 500;
}
.price-section{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}       
.price-section h2{
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    margin-right: 20px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
}
.price-section h3{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-weight: 500;
    font-size: 14px;
}
button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 5px 10px rgba(22, 160, 133, 0.2);
    transition: background-color 0.3s ease;
}
button img{
    margin-right: 10px;
    width: 20px!important;
    height: 20px!important;
    object-fit: contain;
}
button:hover{
    background-color: hsl(158, 36%, 27%);
}


@media (max-width: 900px){
    .content{
        margin: 30px;
        width: 70%;
        flex-direction: column;
        height: auto;
    }
    .content #img{
        content: url('assests/image-product-mobile.jpg');
        width: 100%;
        max-height: 400px;
        height: auto;
    }
    .content .right-content{
        width: 100%;
    }
    .right-content{
        padding: 20px;
    }
    .attribution{
        display: none;
    }
    
}
@media (max-width: 400px) {
    .right-content h1{
        font-size: 24px;
    }
    .right-content p{
        font-size: 12px;
    }   
    .price-section h2{
        font-size: 24px;
    }
    .price-section h3{
        font-size: 12px;
    }
}